<%= form_with model: product do |form| %>
  <div class="mb-1">
    <%= form.label :product_name, class: "form-label" %>
    <%= form.text_field :product_name, class:"form-control" %>
  </div>
  <div class="mb-1">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, class:"form-control" %>
  </div>
  <div class="mb-1">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <%= form.submit "Submit" ,class:"btn btn-primary" %>
<% end %>
